*
{
    margin:0px; /*property-name: property-value;*/
    padding:0px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 205, 220);
    padding: 10px 30px;

    position: sticky;
    top:0;
}

.logo img{
    width: 40px;
}

h1{
    text-align: center;
}

header h1{
    text-align: center;
    color:rgb(104, 10, 34);
    flex: 1;
    font: 50px "Helvetica";
}

.nav{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.socials{
    padding-left: 30px;
    display:flex;
    gap: 20px;
}

.socials img{
    width: 30px;
    height: 40px;
}

.nav a{
    color:rgb(251, 77, 94);
}

.current{
    color:rgb(213, 232, 232);
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.content{
    width:100%;
    padding-left: 30px;
    padding-bottom: 57px;
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list-aboutme{
    list-style-type: lower-roman
}

footer{
    width:100%;
    position: fixed;
    bottom: 0;
    background-color:rgb(198, 217, 211);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.home-image{
    border-style: dotted;
    border-width: 2px;
    border-radius: 15px;
    border-color: rgb(106, 7, 7);
}

.illustrations{
    width: 50px;
    height: 50px;
}